:host {
  --green: rgb(42, 157, 143);
  --dark-green: rgb(38, 70, 83);
  --darker-green: rgb(26, 51, 61);
  --yellow: rgb(233, 196, 106);
  --orange: rgb(244, 162, 97);
  --dark-orange: rgb(231, 111, 81);
  --white: rgb(255, 255, 255);
}

section {
  width: 700px;
  padding: 15px 10px;
  color: var(--white);
  background-color: var(--darker-green);

  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

article {
  padding: 15px 20px;
  background-color: var(--dark-green);
  border-radius: 5px;
}

h2 {
  margin-bottom: 10px;
  font-size: 1rem;
}

strong {
  font-size: 1rem;
  color: var(--white);
}

small {
  color: rgba(255, 255, 255, 0.705);
  display: block;
  font-size: 0.7rem;
}

p {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 2px;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

img.champ {
  width: 48px;
  height: 48px;
}

button {
  all: unset;

  background-color: var(--green);
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 0.8rem;
  border-radius: 6px;
  cursor: pointer;
}

.match-entry {
  padding: 5px 10px;
  background-color: var(--dark-orange);
  width: 100%;

  display: flex;
  column-gap: 10px;
}

.match-entry.win {
  background-color: var(--green);
}

.match-entry__queue {
  width: 150px;
}

.match-entry__kda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.match-entry__items {
  display: flex;
  align-items: center;
  width: 90px;
  flex-wrap: wrap;
  column-gap: 2px;
  row-gap: 2px;
}

.match-entry__items img {
  width: 20px;
  height: 20px;
  background-color: black;
}

.match-entry__util-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}