* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.search-bar {
  width: 100vw;
  height: 60px;
}

.summoner-basic-info {
  width: 1000px;
}

.micro-frontends__inner {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.micro-frontends__inner__left {
  width: 300px;
}

.micro-frontends__inner__right {
  width: 700px;
}